@font-face {
  font-family: "Rollbox";
  src: url("../fonts/RollboxThin-ywad5.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #131720;
  font-family: "Rollbox", sans-serif, arial;
}

p {
  text-transform: uppercase;
  font-size: 1.001rem;
  color: white;
}

button {
  font-family: "Rollbox", sans-serif, arial;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}