#media-grid {
  display: grid;
  grid-template-columns: repeat(1, 5fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.media-thumbnail {
  width: 100%;
  border-radius: 20px;
  object-fit: fill;
  text-align: center;
}

.media-item {
  padding: 10px 10px 0px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.media-item:hover {
  background: linear-gradient(180deg, #28303d, #212d42, #19263b);
  transition: 0.50 s;
}

.media-column {
  margin-bottom: 12px;
  position: relative;
}

.media-card {
  margin-top: 5px;
  text-transform: uppercase;
  text-align: left;
}

.media-card p {
  font-size: 0.9rem;
  color: rgb(224, 224, 224);
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 5px;
}

.user-score-grid {
  letter-spacing: 1px;
  font-size: 0.85rem;
  color: rgb(224, 224, 224);
  background: linear-gradient(135deg, #b34b9e, #333399);
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-left: 0;
}

@media (max-width: 400px) {
  #media-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .media-card p{
    font-size: 0.7rem;
  }

  .user-score-grid {
    font-size: 0.65rem;
    padding: 2px 8px 2px 8px;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  #media-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .media-card p{
    font-size: 0.75rem;
  }

  .user-score-grid {
    font-size: 0.7rem;
    padding: 2px 8px 2px 8px;
  }
}

@media (min-width: 651px) and (max-width: 950px) {
  #media-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .media-card p{
    font-size: 0.8rem;
  }

  .user-score-grid {
    font-size: 0.75rem;
    padding: 3px 9px 3px 9px;
  }
}

@media (min-width: 951px) and (max-width: 1250px) {
  #media-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .media-card p{
    font-size: 0.85rem;
  }

  .user-score-grid {
    font-size: 0.8rem;
    padding: 3px 9px 3px 9px;
  }
}

@media (min-width: 1251px) and (max-width: 1550px) {
  #media-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .media-card p{
    font-size: 0.9rem;
  }

  .user-score-grid {
    font-size: 0.85rem;
  }
}

@media (min-width: 1551px) and (max-width: 1850px){
  #media-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .media-card p{
    font-size: 1.1rem;
  }

  .user-score-grid {
    font-size: 1rem;
    padding: 4px 12px 4px 12px;
  }
}

@media (min-width: 1851px) {
  #media-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .media-card p{
    font-size: 1.2rem;
  }

  .user-score-grid {
    font-size: 1.1rem;
    padding: 5px 15px 5px 15px;
  }
}