.topnav {
  overflow: hidden;
  background-color: #131720;
  padding: 24px 0 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  margin: 12px 0 12px 0;
  text-decoration: none;
  font-size: 1.30rem;
  text-transform: uppercase;
}

.search-container {
  margin-right: 24px;
  width: 100%;
  max-width: 300px;
}

.search-form {
  background: linear-gradient(45deg, #28303d, #212d42, #19263b);
  width: 100%;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.search-input {
  all: unset;
  font-size: 0.9rem;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 8px 10px 8px 20px;
  text-transform: none;
  font-family: 'Montserrat';
}

@media (max-width: 650px) {
  .search-container {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .search-form {
    height: 32px;
  }

  .topnav {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 14px 24px 12px 24px;
  }

  .topnav a {
    font-size: 1.1rem;
    margin: 0 0 0 0;
  }
}

@media (max-width: 400px) {
  .topnav {
    padding: 12px 12px 10px 12px;
  }

  .search-input {
    font-size: 0.8rem;
  }
}