.topnav {
  overflow: hidden;
  background-color: #131720;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  width: 295px;
  min-width: 295px;
  padding: 14px 16px;
  margin-top: 5px;
  margin-left: 8px;
  text-decoration: none;
  font-size: 1.30rem;
  text-transform: uppercase;
}

.search-container {
  margin-right: 24px;
  width: 100%;
  max-width: 283px;
}

.search-form {
  background: linear-gradient(45deg, #28303d, #212d42, #19263b);
  width: 100%;
  height: 43px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.search-input {
  all: unset;
  font: 13px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 8px 10px 5px 20px;
  font-family: "Rollbox", sans-serif, arial;
  text-transform: uppercase;
}